

<table border="1" cellpadding="7">
  <caption><b>Host Info</b></caption>
  <th>Attribute</th>
  <th>Value</th>
  <tr align="center"></embed><td><b>Host ID</b></td></td><td><%= @host.id %></td></tr>
  <tr align="center"><td><b>Host Name</b></td><td><%= @host.name %></td></tr>
  <tr align="center"><td><b>Ip Address</b></td><td><%= @host.ipaddr %></td> </tr>
  <tr align="center"><td><b>Mac Address</b></td><td><%= @host.macaddr %></td> </tr>
  <tr align="center"><td><b>Location</b></td><td><%= @host.location %></td> </tr>
  <tr align="center"><td><b>Console Name</b></td><td><%= @host.con_name %></td> </tr>
  <tr align="center"><td><b>Console IP Address</b></td><td><%= @host.con_ipaddr %></td> </tr>
  <tr align="center"><td><b>Console Mac Address</b></td><td><%= @host.con_macaddr %></td>  </tr>
  <tr align="center"><td><b>User Groups</b></td><td><%= @host.user_groups %></td>  </tr>
  <tr align="center"><td><b>Host Groups</b></td><td><%= @host.host_groups %></td>  </tr>
  <tr align="center"><td><b>Environment</b></td><td><%= @host.environment %></td>  </tr>
  <tr align="center"><td><b>Role</b></td><td><%= @host.hostrole %></td>  </tr>
  <tr align="center"><td><b>Product</b></td><td><%= @host.product %></td>   </tr>
  <tr align="center"><td><b>OS Version</b></td><td><%= @host.os_version%></td>  </tr>
  <tr align="center"><td><b>Name Server</b></td><td><%= @host.name_server%></td>  </tr>
  <tr align="center"><td><b>Boot Server</b></td><td><%= @host.boot_server%></td>  </tr>
  <tr align="center"><td><b>Gateway</b></td><td><%= @host.gateway%></td> </tr>
  <tr align="center"><td><b>Netmask</b></td><td><%= @host.netmask%></td>  </tr>
  <tr align="center"><td><b>Synto</b></td><td><%= @host.synto%></td>   </tr>
  <tr align="center"><td><b>KS regen</b></td><td><%= @host.ks_regen%></td>   </tr>
  <tr align="center"><td><b>Is_IPMI</b></td><td><%= @host.is_ipmi%></td>  </tr>
  <tr align="center"><td><b>Root disk</b></td><td><%= @host.root_disk%></td>  </tr>
  <tr align="center"><td><b>Serial Number</b></td><td><%= @host.serial_number %></td> </tr>
  <tr align="center"><td><b>ESX Host</b></td><td><%= @host.esx_host %></td> </tr>
  <tr align="center"><td><b>Host Type</b></td><td><%= @host.host_type %></td> </tr>
  <tr align="center"><td><b>Physical Location</b></td><td><%= @host.physical_location %></td> </tr>
  <tr align="center"><td><b>Disabled</b></td><td><%= @host.disabled %></td> </tr>
</table>

<!--

<p>
  <b>Name:</b>
  <%= @host.name %>
</p>

<p>
  <b>Ip Address:</b>
  <%= @host.ipaddr %>
</p>

<p>
  <b>Mac Address:</b>
  <%= @host.macaddr %>
</p>


<p>
  <b>Console Ip Address:</b>
  <%= @host.con_ipaddr %>
</p>

<p>
  <b>Console Mac Address:</b>
  <%= @host.con_macaddr %>
</p>

<p>
  <b>Location:</b>
  <%= @host.location %>
</p>

<p>
  <b>User Groups:</b>
  <%= @host.user_groups %>
</p>

<p>
  <b>Host Groups:</b>
  <%= @host.host_groups %>
</p>

<p>
  <b>Hostrole:</b>
  <%= @host.hostrole %>
</p>

<p>
  <b>Environment:</b>
  <%= @host.environment %>
</p>

<p>
  <b>Product:</b>
  <%= @host.product %>
</p>

<p>
  <b>OS Version:</b>
   <%= @host.os_version%>
</p>

<p>
  <b>Name Server:</b>
   <%= @host.name_server%>
</p>

<p>
  <b>Boot Server:</b>
  <%= @host.boot_server%>
</p>

<p>
  <b>Gateway:</b>
  <%= @host.gateway%>
</p>

<p>
  <b>Netmask:</b>
  <%= @host.netmask%>
</p>

<p>
  <b>KS_regen:</b>
  <%= @host.ks_regen%>
</p>

<p>
  <b>Is_IPMI:</b>
  <%= @host.is_ipmi%>
</p>

<p>
  <b>Serial Number:</b>
  <%= @host.serial_number %>
</p>
-->

<br>

<br>
